body {
    background-color: rgb(0, 0, 0);
}


nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

nav>ul {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #ffffff;
}

nav>ul>li:nth-of-type(1) i {
    color: #ffffff;
    font-size: 40px;
}

nav>ul>li:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav>ul>li:nth-of-type(2) img {
    width: 188px;
    padding-left: 15px;
}

nav>ul li:nth-of-type(1) div.nav-menu {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: absolute;
    z-index: 1001;
    top: 0%;
    left: 0%;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

nav>ul li:nth-of-type(1) div.nav-menu svg {
    fill: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
}

nav>ul li:nth-of-type(1) div.nav-menu ul {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    text-align: center;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li {
    position: relative;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li a {
    color: #ffffff;
}

.selected-page {
    width: 80%;
    position: absolute;
    left: 10%;
    top: -200%;
    z-index: -1;
    bottom: 0%;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li:nth-of-type(1n + 2) .selected-page {
    display: none;
}

nav>ul li:nth-of-type(1) div.nav-menu>a {
    align-self: center;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid #00ff00;
    margin-bottom: 120px;
}




/* --------------------------------------------------------------------header-------------------------------------------------------------------- */


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    font-family: Montserrat;
    padding-top: 180px;
    gap: 70px;
}


header h1 {
    text-align: center;
    width: 65%;
    font-size: 30px;
}


header video {
    width: 70%;
    margin-top: 20px;
}

header>p {
    text-align: center;
    width: 60%;
    font-size: 13px;
}

header div {
    text-align: center;
    margin-bottom: 20px;
}

header div a {
    color: #ffffff;
    border-bottom: 2px solid #00ff00;
    padding-bottom: 10px;
}

header div p {
    margin-top: 25px;
    opacity: 0.5;
    font-size: 12px;
}




/* -----------------------------------------------------------------main----------------------------------------- */

main {
    margin-top: 80px;
    color: #ffffff;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 80px;
    margin-bottom: 50px;
}


main p {
    text-align: center;
    width: 80%;
    font-size: 13px;
}