body {
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    color: #ffffff;
}

header svg {
    fill: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
}

header div {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    position: relative;
    font-family: Montserrat;
    font-size: 22px;
    height: 100%;
}

header div img {
    width: 200px;
    position: absolute;
    bottom: -82px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


main {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

main form>input {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-family: Montserrat;
    width: 65%;
    padding-bottom: 5px;
    font-size: 15px;
    color: #ffffff;
}

main form>input::placeholder {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
}

main form>input:focus {
    outline: none !important;
    background: none;
    border: none;
}

main form>div {
    width: 70%;
    position: relative;
}

main form div label {
    color: #ffffff;
    font-family: Montserrat;
    padding-left: 5px;
}

main form div div.checked-round {
    background-color: #7c7c7c;
    width: 17px;
    border-radius: 28px;
    position: absolute;
    top: 12%;
    left: 0.5%;
}

main form div div.checked-round>p {
    opacity: 0;
}

main>div:nth-of-type(1) {
    text-align: center;
    margin-bottom: 20px;
}

main a {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    border-bottom: 2px solid #00ff00;
    padding-bottom: 10px;
}




@media screen and (min-width: 480px) and (max-height: 500px) {

    header div {
        font-size: 35px;
    }


    header div img {
        width: 250px;
        bottom: -100px;
    }


    main form>input {
        width: 70%;
        font-size: 18px;
    }

    main form input::placeholder {
        font-size: 18px;
    }

    main form>div {
        width: 72%;
    }

    main form div label {
        font-size: 18px;
    }


}


@media screen and (min-width: 580px) and (min-height: 950px) {

    header div {
        font-size: 30px;
        margin-top: 110px;
    }

    header div img {
        width: 240px;
        bottom: -96px;
    }


    main form>input {
        width: 70%;
        font-size: 20px;
    }


    main form>input::placeholder {
        font-size: 20px;
    }

    main form>div {
        width: 72%;
    }

    main form div div.checked-round {
        width: 21px;
        height: 20px;
    }

    main form div label {
        font-size: 20px;
        padding-left: 15px;
    }

    main>div:nth-of-type(1) {
        margin-top: 50px;
    }

    main a {
        font-size: 26px;
    }
    
    

}


@media screen and (min-width: 980px) {

    header div {
        font-size: 40px;
    }


    header div img {
        width: 350px;
        bottom: -140px;
    }

    main {
        gap: 90px;
    }

    main form {
        gap: 30px;
    }

    main form>input {
        width: 80%;
        font-size: 22px;
    }

    main form>input::placeholder {
        font-size: 22px;
    }

    main form>div {
        width: 81%;
    }

    main form div div.checked-round {
        width: 24px;
        height: 23px;
        left: 0%;
        top: 0%;
    }

    main form div label {
        padding-left: 15px;
        font-size: 20px;
    }

    main>div:nth-of-type(1) {
        margin-bottom: 40px;
    }

    main a {
        font-size: 24px;
    }

}