body {
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    color: #ffffff;
}

header svg {
    fill: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
}

header div {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    position: relative;
    font-family: Montserrat;
    font-size: 22px;
    height: 100%;
}

header div img {
    width: 200px;
    position: absolute;
    bottom: -82px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


main {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

main form>input {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-family: Montserrat;
    width: 65%;
    padding-bottom: 5px;
    font-size: 15px;
    color: #ffffff;
}

main form>input::placeholder {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
}

main form>input:focus {
    outline: none !important;
    background: none;
    border: none;
}

main form>div {
    width: 70%;
    position: relative;
}

main form div label {
    color: #ffffff;
    font-family: Montserrat;
    padding-left: 5px;
}

main form div div.checked-round {
    background-color: #7c7c7c;
    width: 17px;
    border-radius: 28px;
    position: absolute;
    top: 12%;
    left: 0.5%;
}

main form div div.checked-round>p {
    opacity: 0;
}

main>div:nth-of-type(1) {
    text-align: center;
    margin-bottom: 20px;
}

main a {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    border-bottom: 2px solid #00ff00;
    padding-bottom: 10px;
}