body {
    background-color: rgb(0,0,0);
}


section {
    position: fixed;
    bottom: 5%;
    font-family: Montserrat;
    width: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

section article:nth-of-type(1) {
    width: 100%;
    align-self: flex-end;
}