body {
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    color: #ffffff;
}

header svg {
    fill: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
}

header div {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    position: relative;
    font-family: Montserrat;
    font-size: 30px;
    height: 100%;
}

header div img {
    width: 200px;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}



/* =-------------------------------------------------------------------------main=------------------------------------------------------------------------- */

main {
    font-family: Montserrat;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}


main form div {
    position: relative;
}

main form div:nth-of-type(1) {
    margin-right: 10px;
}

main form div label {
    color: #ffffff;
    font-family: Montserrat;
    padding-left: 5px;
}

main form div div.checked-round {
    background-color: #7c7c7c;
    width: 17px;
    border-radius: 28px;
    position: absolute;
    top: 12%;
    left: 2%;
}

main form div div.checked-round>p {
    opacity: 0;
}


main article:nth-of-type(1) {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    gap: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}

main article:nth-of-type(1) a:nth-of-type(1) {
    color: #ffffff;
    font-size: 20px;
    border-bottom: 2px solid #00ff00;
    padding-bottom: 20px;
}

main article:nth-of-type(1) a:nth-of-type(2) {
    color: #ffffff;
    font-size: 14px;
}



@media screen and (min-width: 480px) and (max-height: 500px) {

    header div {
        font-size: 40px;
    }

    header div img {
        width: 285px;
        bottom: -110px;
    }

    main>h1 {
        font-size: 18px;
    }

    main form div label {
        font-size: 18px;
    }

    main form div div.checked-round {
        left: 1%;
    }

}


@media screen and (min-width: 580px) and (min-height: 950px) {

    header div {
        font-size: 45px;
        margin-top: 125px;
    }

    header div img {
        width: 325px;
        bottom: -125px;
    }

    main {
        margin-top: 60px;
    }

    main h1 {
        font-size: 24px;
    }

    main form div label {
        font-size: 20px;
        padding-left: 20px;
    }

    main form div div.checked-round {
        width: 21px;
        height: 20px;
    }

    main article:nth-of-type(1) a:nth-of-type(1) {
        font-size: 24px;
        padding-bottom: 15px;
    }

    main article:nth-of-type(1) a:nth-of-type(2) {
        font-size: 16px;
    }
    
    

}