body {
    background-color: rgb(0, 0, 0);
}

nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul {
    display: flex;
    align-items: center;
    width: 80%;
    padding-top: 10px;
    border-bottom: 1px solid #ffffff;
}

nav>ul>li:nth-of-type(1) i {
    color: #ffffff;
    font-size: 40px;
}

nav>ul>li:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav>ul>li:nth-of-type(2) img {
    width: 188px;
}

nav>ul li:nth-of-type(1) div.nav-menu {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: absolute;
    z-index: 1001;
    top: 0%;
    left: 0%;
    font-family: 'Montserrat';
    flex-direction: column;
    display: none;
}

nav>ul li:nth-of-type(1) div.nav-menu svg {
    fill: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
}

nav>ul li:nth-of-type(1) div.nav-menu ul {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 30%;
    width: 100%;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li {
    position: relative;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li a {
    color: #ffffff;
}

.selected-page {
    width: 137px;
    position: absolute;
    left: 50%;
    top: -59px;
    z-index: -1;
    bottom: 0%;
    transform: translateX(-50%);
}

nav>ul li:nth-of-type(1) div.nav-menu ul li:nth-of-type(1n + 2) .selected-page {
    display: none;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li:last-of-type {
    margin-top: 20%;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li:last-of-type a {
    align-self: center;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid #00ff00;
    margin-bottom: 120px;
}



/* ----------------------------------------------------------------------header---------------------------------------------------------------------- */

header {
    width: 100%;
    color: #ffffff;
    padding-top: 180px;
    position: relative;
    font-family: Montserrat;
    font-size: 35px;
    text-align: center;
}


header img {
    width: 260px;
    position: absolute;
    bottom: -102px;
    left: 60%;
    transform: translateX(-60%);
    z-index: -1;
}




/* -----------------------------------------------------------------------main----------------------------------------------------------------------- */


main {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 85%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
}


main article:nth-of-type(1) {
    color: #ffffff;
    font-family: Montserrat;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

main article:nth-of-type(1) div:nth-of-type(1) {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

main article:nth-of-type(1) div:nth-of-type(1) h1 {
    font-size: 13vi;
}

main article:nth-of-type(1) div:nth-of-type(1) h1 p {
    font-size: 5vi;
}


main article:nth-of-type(1)>p:nth-of-type(1) {
    font-size: 15px;
}

main article:nth-of-type(1)>p:nth-of-type(2) {
    color: #00ff00;
    width: 89%;
    font-size: 15px;
}

main article:nth-of-type(1) div:nth-of-type(2) {
    border-top: 2px solid #ffffff;
    width: 85%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: baseline;
}


main article:nth-of-type(1) div:nth-of-type(2) h2 {
    font-size: 24px;
}

main article:nth-of-type(1) div:nth-of-type(2) p {
    font-size: 14px;
}


main article:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    width: 100%;
    color: #ffffff;
    font-family: Montserrat;
    margin-left: 20px;
}


main article:nth-of-type(2) div:nth-of-type(1) h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

main article:nth-of-type(2) div:nth-of-type(1) p {
    font-size: 12px;
    width: 50%;
}


main article:nth-of-type(2) div:nth-of-type(2) h4 {
    font-size: 18px;
    margin-bottom: 20px;
}


main article:nth-of-type(2) div:nth-of-type(2) form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}


main article:nth-of-type(2) div:nth-of-type(2) form>div {
    position: relative;
}


main article:nth-of-type(2) div:nth-of-type(2) form>div label {
    font-size: 18px;
    padding-left: 10px;
}

main article:nth-of-type(2) div:nth-of-type(2) form>div label i {
    padding-right: 10px;
}

main article:nth-of-type(2) div:nth-of-type(2) form>div div.checked-round {
    background-color: #7c7c7c;
    width: 17px;
    border-radius: 44px;
    position: absolute;
    top: 15%;
    left: 0.5%;
    height: 16px;
}

main article:nth-of-type(2) div:nth-of-type(2) form>div div.checked-round>p {
    opacity: 0;
}

section {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

section a {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    border-bottom: 2px solid #00ff00;
    padding-bottom: 10px;
    width: 100%;
}


/* -----------------------------------------------------------footer---------------------------------------------------------- */

footer {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: Montserrat;
    width: 100%;
    overflow: hidden;
}

footer article {
    margin-left: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


footer article h6 {
    color: #00ff00;
    font-size: 24px;
    font-weight: 600;
}


footer article ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


footer article ul li,
footer article ul li a {
    color: #ffffff;
}


footer article:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

footer article:nth-of-type(3) div {
    display: flex;
    gap: 20px;
    /* align-items: center;
    justify-content: center; */
}


footer article:nth-of-type(3) div a {
    color: #ffffff;
}

footer article:nth-of-type(3) div a i {
    font-size: 18px;
}

footer article:nth-of-type(3) p {
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 20px;
}




@media screen and (min-width: 480px) and (max-height: 500px) {

    nav>ul {
        width: 90%;
    }

    nav>ul li:nth-of-type(1) div.nav-menu {
        height: 200vh;
    }


    nav>ul li:nth-of-type(1) div.nav-menu ul {
        margin-top: 5%;
        height: 65vh;
        overflow-y: scroll;
    }

    nav>ul li:nth-of-type(1) div.nav-menu ul li:last-of-type {
        margin-top: 5%;
    }


    header {
        font-size: 45px;
    }


    header img {
        width: 310px;
        bottom: -120px;
        left: 55%;
        transform: translateX(-55%);
    }


    main {
        margin-top: 95px;
    }


    main article:nth-of-type(1) div:nth-of-type(1) h1 {
        font-size: 18vi;
    }


    main article:nth-of-type(1) div:nth-of-type(1) p {
        font-size: 3vi;
    }

    main article:nth-of-type(1)>p:nth-of-type(1) {
        font-size: 18px;
    }

    main article:nth-of-type(1)>p:nth-of-type(2) {
        font-size: 18px;
    }

    main article:nth-of-type(1) div:nth-of-type(2) {
        width: 87%;
    }

    main article:nth-of-type(1) div:nth-of-type(2) h2 {
        font-size: 26px;
    }

    main article:nth-of-type(1) div:nth-of-type(2) p {
        font-size: 16px;
    }

    main article:nth-of-type(2) div:nth-of-type(1) h3 {
        font-size: 26px;
    }


    main article:nth-of-type(2) div:nth-of-type(1) p {
        font-size: 14px;
        width: 50%;
    }


    main article:nth-of-type(2) div:nth-of-type(2) h4 {
        font-size: 22px;
    }


    main article:nth-of-type(2) div:nth-of-type(2) form>div div.checked-round {
        top: 21%;
        left: 0.3%;

    }

    main article:nth-of-type(2) div:nth-of-type(2) form>div label {
        font-size: 19px;
    }


    footer article:nth-of-type(1) {
        width: 90%;
        align-items: center;
    }

}


@media screen and (min-width: 580px) and (min-height: 950px) {

    nav>ul {
        width: 85%;
    }

    nav>ul>li:nth-of-type(1) i {
        font-size: 45px;
    }

    nav>ul>li:nth-of-type(2) img {
        width: 200px;
    }

    nav>ul li:nth-of-type(1) div.nav-menu ul {
        font-size: 30px;
    }

    nav>ul li:nth-of-type(1) div.nav-menu ul li:last-of-type {
        margin-top: 10%;
    }

    nav>ul li:nth-of-type(1) div.nav-menu ul li:last-of-type a {
        font-size: 20px;
    }

    nav>ul li:nth-of-type(1) div.nav-menu ul {
        margin-top: 15%;
    }

    header {
        font-size: 55px;
    }

    header img {
        width: 380px;
        bottom: -145px;
        left: 50%;
        transform: translateX(-45%);
    }

    main {
        margin-top: 100px;
    }

    main article:nth-of-type(1) div:nth-of-type(1) {
        gap: 15px;
    }

    main article:nth-of-type(1) div:nth-of-type(1) h1 {
        font-size: 16vi;
    }

    main article:nth-of-type(1) div:nth-of-type(1) p {
        font-size: 3vi;
    }

    main article:nth-of-type(1)>p:nth-of-type(1) {
        font-size: 18px;
    }

    main article:nth-of-type(1)>p:nth-of-type(2) {
        font-size: 18px;
    }

    main article:nth-of-type(1) div:nth-of-type(2) h2 {
        font-size: 26px;
    }

    main article:nth-of-type(1) div:nth-of-type(2) p {
        font-size: 16px;
    }

    main article:nth-of-type(2) {
        gap: 90px;
    }

    main article:nth-of-type(2) div:nth-of-type(1) h3 {
        font-size: 28px;
    }

    main article:nth-of-type(2) div:nth-of-type(1) p {
        font-size: 15px;
        width: 40%;
    }

    main article:nth-of-type(2) div:nth-of-type(2) form {
        gap: 25px;
    }

    main article:nth-of-type(2) div:nth-of-type(2) h4 {
        font-size: 26px;
    }

    main article:nth-of-type(2) div:nth-of-type(2) form>div label {
        font-size: 22px;
        padding-left: 20px;
    }


    main article:nth-of-type(2) div:nth-of-type(2) form>div div.checked-round {
        width: 21px;
        height: 20px;
    }


    section {
        padding-top: 90px;
    }


    section a {
        font-size: 25px;
    }


    footer article h6 {
        color: #00ff00;
        font-size: 28px;
        font-weight: 600;
    }

    footer article ul {
        font-size: 18px;
    }

    footer article:nth-of-type(3) div a i {
        font-size: 20px;
    }

    footer article:nth-of-type(3) p {
        font-size: 12px;
    }






}