body {
    background-color: rgb(0, 0, 0);
}


nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

nav>ul {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #ffffff;
}

nav>ul>li:nth-of-type(1) i {
    color: #ffffff;
    font-size: 40px;
}

nav>ul>li:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav>ul>li:nth-of-type(2) img {
    width: 188px;
    padding-left: 15px;
}

nav>ul li:nth-of-type(1) div.nav-menu {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: absolute;
    z-index: 1001;
    top: 0%;
    left: 0%;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

nav>ul li:nth-of-type(1) div.nav-menu svg {
    fill: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
}

nav>ul li:nth-of-type(1) div.nav-menu ul {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    text-align: center;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li {
    position: relative;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li a {
    color: #ffffff;
}

.selected-page {
    width: 80%;
    position: absolute;
    left: 10%;
    top: -200%;
    z-index: -1;
    bottom: 0%;
}

nav>ul li:nth-of-type(1) div.nav-menu ul li:nth-of-type(1n + 2) .selected-page {
    display: none;
}

nav>ul li:nth-of-type(1) div.nav-menu>a {
    align-self: center;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid #00ff00;
    margin-bottom: 120px;
}



/* ----------------------------------------------------------------------header---------------------------------------------------------------------- */

header {
    width: 100%;
    color: #ffffff;
    padding-top: 180px;
    position: relative;
    font-family: Montserrat;
    font-size: 35px;
    text-align: center;
}


header img {
    width: 260px;
    position: absolute;
    bottom: -102px;
    left: 60%;
    transform: translateX(-60%);
    z-index: -1;
}




/* -----------------------------------------------------------------------main----------------------------------------------------------------------- */


main {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 85%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
}


main article:nth-of-type(1) {
    color: #ffffff;
    font-family: Montserrat;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

main article:nth-of-type(1) div:nth-of-type(1) {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

main article:nth-of-type(1) div:nth-of-type(1) h1 {
    font-size: 13vi;
}

main article:nth-of-type(1) div:nth-of-type(1) h1 p {
    font-size: 5vi;
}


main article:nth-of-type(1)>p:nth-of-type(1) {
    font-size: 15px;
}

main article:nth-of-type(1)>p:nth-of-type(2) {
    color: #00ff00;
    width: 89%;
    font-size: 15px;
}

main article:nth-of-type(1) div:nth-of-type(2) {
    border-top: 2px solid #ffffff;
    width: 85%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: baseline;
}


main article:nth-of-type(1) div:nth-of-type(2) h2 {
    font-size: 24px;
}

main article:nth-of-type(1) div:nth-of-type(2) p {
    font-size: 14px;
}


main article:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    width: 100%;
    color: #ffffff;
    font-family: Montserrat;
    margin-left: 20px;
}


main article:nth-of-type(2) div:nth-of-type(1) h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

main article:nth-of-type(2) div:nth-of-type(1) p {
    font-size: 12px;
    width: 50%;
}


main article:nth-of-type(2) div:nth-of-type(2) h4 {
    font-size: 18px;
    margin-bottom: 20px;
}


main article:nth-of-type(2) div:nth-of-type(2) form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}


main article:nth-of-type(2) div:nth-of-type(2) form>div {
    position: relative;
}


main article:nth-of-type(2) div:nth-of-type(2) form>div label {
    font-size: 18px;
    padding-left: 10px;
}

main article:nth-of-type(2) div:nth-of-type(2) form>div label i {
    padding-right: 10px;
}

main article:nth-of-type(2) div:nth-of-type(2) form>div div.checked-round {
    background-color: #7c7c7c;
    width: 14px;
    border-radius: 44px;
    position: absolute;
    top: 20%;
    left: 1.3%;
}

main article:nth-of-type(2) div:nth-of-type(2) form>div div.checked-round>p {
    opacity: 0;
}

section {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

section a {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    border-bottom: 2px solid #00ff00;
    padding-bottom: 10px;
    width: 100%;
}